/*---------------------------------------------------------------
# Package - Joomla Template based on Helix Framework   
# ---------------------------------------------------------------
# Author - JoomShaper http://www.joomshaper.com
# Copyright (C) 2010 - 2011 JoomShaper.com. All Rights Reserved.
# license - PHP files are licensed under  GNU/GPL V2
# license - CSS  - JS - IMAGE files  are Copyrighted material 
# Websites: http://www.joomshaper.com - http://www.joomxpert.com
-----------------------------------------------------------------*/



/*Module type XHTML*/
.mod-wrapper,.mod-wrapper-flat {position:relative}
.mod-wrapper h3.header{font-size:12px;line-height:22px;overflow:hidden;text-transform:uppercase;margin:0}


.module_text .mod-wrapper h3.header {font-size:9px;text-align:center;margin:0 0 10px;padding:0}

.mod-wrapper ul{list-style:none;margin:0;padding:0}
.mod-wrapper li{background:url(../images/menu_bullet.png) no-repeat scroll 0 10px transparent;border-bottom:1px solid #EEE;font-size:12px;line-height:32px;margin:0;padding:0 10px 0 15px}
.mod-wrapper li li{margin-left:15px}
.mod-wrapper li a{text-decoration:none}
.mod-wrapper li:hover > a, .mod-wrapper li.active > a{text-decoration:none}

/*Module Type Flat*/
.mod-wrapper-flat h3.header{font-size:12px;font-weight:700;color:#333;margin:0;padding:2px 5px}
.mod-wrapper-flat ul{list-style:none;margin:0;padding:0}
.mod-wrapper-flat li{background:none;font-size:11px;display:block;text-decoration:none;margin:0;padding:4px}
.mod-wrapper-flat a:hover{text-decoration:underline}

#sp-userpos .mod-block {padding-top:30px;padding-bottom:40px}
#sp-userpos .separator .mod-block {padding-left:10px;padding-right:30px;background:url(../images/user-shadow.png) no-repeat 100% 50%}
#sp-bottom .mod-wrapper-flat h3.header{color:#fff!important}
#sp-bottom .mod-block{padding:20px 10px}

/*Module Type Menu*/
.mod-wrapper-menu {margin-top:8px}
.mod-wrapper-menu h3.header{font-size:12px;font-weight:700;color:#fff;margin:0;padding:2px 5px}
.mod-wrapper-menu ul{list-style:none;margin:0;padding:0}
.mod-wrapper-menu li{font-size:11px;display:block;text-decoration:none;margin:0;padding:4px}
.mod-wrapper-menu li a:hover{text-decoration:underline}

/*Badges*/
span.badge_new,span.badge_free,span.badge_hot,span.badge_pick,span.badge_top
{height:48px;position:absolute;right:10px;text-indent:-999em;top:3px;width:48px;z-index:99}
span.badge_new{background: url(../images/base_new.png) no-repeat 100% 0;}
span.badge_free{background: url(../images/base_free.png) no-repeat 100% 0;}
span.badge_hot{background: url(../images/base_hot.png) no-repeat 100% 0;}
span.badge_pick{background: url(../images/base_pick.png) no-repeat 100% 0;}
span.badge_top {background: url(../images/base_top.png) no-repeat 100% 0;}

/*Module style*/
.module{margin:0}
.module .mod-inner{padding:0 10px}
.mod-wrapper h3{color:#A0B62D;text-align:left;margin:0;height:30px;font-size:16px;line-height:30px;padding:0 10px}
.module #h3-l{width:100%;height:30px;background:url(../images/h3-l.png) no-repeat top left}
.module #h3-m{width:100%;height:30px;background:url(../images/h3-m.png) repeat-x}
.module #h3-r{width:100%;height:30px;background:url(../images/h3-r.png) no-repeat top right}
.module #tl{width:100%;height:10px;background:url(../images/module_tl.png) no-repeat top left}
.module #tr{width:100%;height:10px;background:url(../images/module_tr.png) top right}
.module #bl{width:100%;height:10px;background:url(../images/module_bl.png) no-repeat top left}
.module #br{width:100%;height:10px;background:url(../images/module_br.png) top right}
.module #mid{width:auto;height:auto;background:#EBECED;border-right:1px solid #ccc;border-left:1px solid #ccc}
.module ul{list-style:none}
.module li{font-size:14px}
.module li a:link,.module li a:visited{padding:6px 10px;border-bottom:1px solid #ccc;margin:0 -10px;color:#363636;text-decoration:none;display:block}
.module li a:hover,.module li.active a{text-decoration:none;color:#404040}

