/*---------------------------------------------------------------
# Package - Joomla Template based on Helix Framework   
# ---------------------------------------------------------------
# Author - JoomShaper http://www.joomshaper.com
# Copyright (C) 2010 - 2011 JoomShaper.com. All Rights Reserved.
# license - PHP files are licensed under  GNU/GPL V2
# license - CSS  - JS - IMAGE files  are Copyrighted material 
# Websites: http://www.joomshaper.com - http://www.joomxpert.com
-----------------------------------------------------------------*/
a{color:#3B5998}
a:hover,a:active,a:focus{color:#b22222}

#sp-bottom{background:#f87e01;color:#fff;font-size:11px;}
#sp-bottom .mod-wrapper-flat li{border-bottom:1px solid #ffa544;color:#a1c7d0}
#sp-bottom a{color:#a1c7d0}
.mod-wrapper h3.header,.mod-wrapper-flat h3.header{color: #f87e01!important;}

/*Menu*/
#hornav{background:#fff;border-top:1px solid #90A0C1;border-bottom:1px solid #90A0C1}
#sublevel{background:#ffa544}

#hornav ul.level-0 > li.menu-item{border-right:2px solid #90A0C1}
#sublevel ul.level-1 > li.menu-item{}

#hornav ul.level-0 > li.menu-item > a.menu-item{color:#fff}
#sublevel ul.level-1 > li.menu-item > a.menu-item{color:#fff}

#hornav ul.level-0 > li.menu-item span.menu-desc,
#sublevel ul.level-1 > li.menu-item span.menu-desc{color:#888}

#hornav ul.level-0 > li.menu-item:hover,#hornav ul.level-0 > li.menu-item.active{background: url(../../images/styles/style1/nav-active-l.png) no-repeat 0 100%}
#hornav ul.level-0 > li.menu-item:hover > a,#hornav ul.level-0 > li.menu-item.active > a{background: url(../../images/styles/style1/nav-active-r.png) no-repeat 100% 100%;color: #fff;}

#hornav ul.level-0 > li.menu-item:hover span.menu-desc,#hornav ul.level-0 > li.menu-item.active span.menu-desc,
#sublevel ul.level-1 > li.menu-item:hover span.menu-desc,#sublevel ul.level-1 > li.menu-item.active span.menu-desc{color:#fff}

#sublevel ul.level-1 > li:hover,#sublevel ul.level-1 > li.menu-item.active{background:#f87e01!important}
#sublevel ul.level-1 > li.menu-item.active > a.menu-item,#sublevel ul.level-1 > li.menu-item:hover > a.menu-item
{}

/*Sub Items*/
#hornav ul li .submenu-inner,#sublevel ul li .submenu-inner {background:#ffa544;color:#fff}

#hornav li.menu-item li.menu-item,
#sublevel li.menu-item li.menu-item {background: url(../../images/styles/style1/nav-border.png) repeat-x 0 0!important}

#hornav li.menu-item li:hover,#hornav li.menu-item li.active > a,
#sublevel li.menu-item li:hover,#sublevel li.menu-item li.active > a{background: #627AAD!important}

#hornav li.menu-item li.menu-item a.menu-item,
#sublevel li.menu-item li.menu-item a.menu-item{color:#333}

#hornav li.menu-item li.menu-item span.menu-desc,
#sublevel li.menu-item li.menu-item span.menu-desc{color:#888}

#hornav .group-title{border-bottom:5px solid #f87e01}

